.main{
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    height: 100vh;
    height: 540px;
    width: 360px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px black;
}
input{
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #554455;

}
.selection{
    height: 30px;
    border-radius: 15px;
    width: 65px;
    text-align: center;
}
.inputContainer{
    display: flex;
    gap: 15px;
}
.outputContainer{
    display: flex;
    gap: 15px;
}

